.mainContainer {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 1152px) {
    .mainContainer {
        display: block;
        width: 1152px;
        margin-left: auto;
     